body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: black;
}

.appBar {
  position: "relative";
}
.toolbarTitle {
  flex: 1;
}
.layout {
  width: "auto";
  margin-left: "6px";
  margin-right: "6px";
  width: 900;
  margin-left: "auto";
  margin-right: "auto";
}
.heroContent {
  max-width: 600;
  margin: "0 auto";
  padding: "8px";
}
.cardHeader {
  background-color: #f9f9f9;
}
.cardPricing {
  display: "flex";
  justify-content: "center";
  align-items: "baseline";
  margin-bottom: "8px";
}
.cardActions {
  padding-bottom: "8px";
}
.footer {
  margin-top: "8px";
  border-top: "1px solid #ccc";
  padding: "8px";
}
